/* Styles for an element with the ID 'head' */
#head
{
    color:purple;
}

/* Styles for an element with the ID 'EventForm' */
#EventForm {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 400px;
    border: 2px solid purple;
    border-radius: 10px;
    flex-direction: column;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(128, 0, 128, 0.7);
}

/* Styles for the 'body' element */
body {
    background-image: url('../../content/image/adminbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

/* Additional styles for an element with the ID 'Event' */
#Event {
    justify-content: center;
    align-items: center;
    display: flex;
}

