/* Styles for the 'body' element */
body {
    background-image: url('../../content/image/home - copy.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Styles for elements with the class 'center-form' */
.center-form {
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Styles for 'form' elements */
form {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for an element with the ID 'head' */
#head {
    color: purple;
}

/* Styles for the 'footer' element */
footer {
    margin-top: 50px;
}
