/* Styles for the 'genderError' element */
#genderError {
    color: red;
    font-size: small;
}
/* Styles for the 'body' element */
body {
    background-image: url('../../content/image/coachbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
 
}

/* Styles for the 'EnrollForm' element */
#EnrollForm {
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgb(178, 0, 255);
}
