
@{
    ViewBag.Title = "UserHomePage";
    Layout = "~/Views/Shared/UserLayoutPage.cshtml";
}
<script src="~/Scripts/PreventBack.js"></script>
<style>
    .paragraph {
        text-align: justify;
        margin: 10px;
    }

    #session {
        color: purple;
    }
</style>
<div class="my-3 text-center " id="session">
    @if (Session["fullName"] != null)
    {
        <h1>Welcome, @Session["fullName"]!</h1>
    }
</div>

<marquee scrollamount="8" behavior="scroll">
    <div class="text-danger fw-bold fs-3">
        Complete the academy enrollment to join the exciting academy to enrich your skills and showcase yours....
    </div>
</marquee>

<div class="paragraph">
    Basketball is a world popular sport. It is played in many different countries. The smart moves and physical activity make it a fun sport. It is believed that basketball originated in the USA in the 19th century.
    Usually, basketball is played between two teams with five players each. However, for a friendly match, the count of the players can vary. For example, it can be played between two players or more than five players in a non-professional setting.
    There are many variations of the game. The team that scores the most points wins the match. This sport promotes good physical health and team building. Therefore, it’s no wonder it is one of the most popular sports.
</div>

<div class="text-center my-3 col-md-6 col-sm-12">
    <img src="~/Content/image/Team.jpg" class="img-fluid" />
</div>

