
@{
    ViewBag.Title = "About";
    Layout =
 "~/Views/Shared/HomePageLayout.cshtml";
}
<script src="~/Scripts/PreventBack.js"></script>
<style>
    /* CSS styles for the background image and page */


   #firsr,#second {
        padding: 20px;
        text-align: justify;
    }

    /* CSS styles for headings and paragraphs */

    #jump:hover {
        transition: transform 300ms;
        transform: translateY(-10px);
    }

    /* CSS styles for specific sections */
    #story {
        float: right;
    }
    #head{
        color:purple;
    }


    #body {
        margin-left: 10px;
    }
</style>
<script src="https://kit.fontawesome.com/ce19876732.js" crossorigin="anonymous"></script>
<style>
    /* CSS styles for the background image and page */
    body {
      text-align:justify;
    }


    /* CSS styles for headings and paragraphs */
    h1 {
        color: #333;
    }

    h2 {
        color: #444;
    }

    p {
        color: #666;
    }

    #jump:hover {
        transition: transform 300ms;
        transform: translateY(-10px);
    }

    /* CSS styles for specific sections */
    #story {
        float: right;
    }

    #body {
        margin-left: 10px;
    }
</style>
    <body >
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <header class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <!-- Page title -->
                <h6 class="display-5 text-center my-2" id="head">About us</h6>
            </header>
            <div class="row my-3 mx-2" id="first">

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 " id="story">
                    <!-- Our story section -->
                    <h2 id="head">Our story</h2>
                    <!-- Description of the website and its mission -->
                    Welcome to our basketball website! We are passionate about the game of basketball and dedicated to providing basketball enthusiasts with the latest news, insights, and resources.
                    <!-- Lorem ipsum placeholder text -->
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsam et deserunt quaerat minus eaque provident, ex error fugit impedit laboriosam autem mollitia facilis quidem vero quisquam eveniet veniam delectus?
                    Unde minima iste illum sapiente, error possimus atque. Ipsum porro ut adipisci sint aspernatur debitis. Odio accusantium suscipit voluptas atque.
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <!-- Our team section -->
                    <h2 id="head">Our team</h2>
                    <!-- Description of the team and its dedication to basketball -->
                    Our team consists of basketball experts, writers, and enthusiasts who share a common love for the sport. We are committed to delivering high-quality content and fostering a vibrant community of basketball fans.
                    <!-- Lorem ipsum placeholder text -->
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsam et deserunt quaerat minus eaque provident, ex error fugit impedit laboriosam autem mollitia facilis quidem vero quisquam eveniet veniam delectus? Unde minima iste illum sapiente, error possimus atque. Ipsum porro ut adipisci sint aspernatur debitis.
                    Odio accusantium suscipit voluptas atque.
                </div>
            </div>
            <div class="row  my-4" id="second">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <!-- What we offer section -->
                    <h2 class="text-center" id="head">What we offer</h2>
                    <p>At our basketball website, you can find a wide range of features and resources, including:</p>
                    <ul>
                        <!-- List of offerings -->
                        <li>News and updates on your favorite teams and players.</li>
                        <li>In-depth analysis of basketball games and strategies.</li>
                        <li>Tutorials and training tips to improve your skills.</li>
                        <li>A community forum to connect with fellow basketball enthusiasts.</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <!-- Our values section -->
                    <h2 class="text-center" id="head">Our values</h2>
                    <p>Our website is built on a foundation of values that include:</p>
                    <ul>
                        <!-- List of values -->
                        <li>Passion for the game of basketball.</li>
                        <li>Integrity and honesty in our content.</li>
                        <li>Community and inclusivity for all basketball fans.</li>
                        <li>Continuous learning and improvement.</li>
                    </ul>
                </div>
            </div>
        
         
 
        </div>
    </body>
