@model BasketballAcademy.Models.Credentials

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/HomePageLayout.cshtml";
}
<link href="~/Content/ErrorStyle.css" rel="stylesheet" />
<script src="~/Scripts/Validation.js"></script>
<script src="~/Scripts/PreventBack.js"></script>
<style>

    body {
        background-image: url('../../content/image/trans2.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        border: 2px solid black;
        border-radius: 10px;
        width: 400px;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 20px;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
</style>



@using (Html.BeginForm("ForgotPassword", "Credential", FormMethod.Post, new { @onsubmit = "return validateForgotPassword();" }))
{
    @Html.AntiForgeryToken()

<form  class="text-center ">
    <div class="row">
    <div class="col-md-6">
        
        </div>
    <div class="form col-md-6 mx-3 my-3">
        <h2 class="text-center my-3">Reset password</h2>
        <p class="text-success">@ViewBag.Success</p>
        <p class="text-danger">@ViewBag.failure</p>
        <div class="form-group">
            <label for="Username" class="control-label">Username</label>
            <div class="">
                <input type="text" id="username" name="Username" class="form-control" placeholder="Enter your username" onfocusout="validateusername()" />
                <span id="usernameError"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="Email" class="control-label">Email</label>
            <div class="">
                <input type="text" id="email" name="Email" class="form-control" placeholder="Enter your email " onfocusout="validateEmail()" />
                <span id="emailError"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="Password" class="control-label">Password</label>
            <div class="">
                <input type="text" id="password" name="Password" class="form-control" placeholder="Enter your password" onfocusout="validatePassword()" />
                <span id="passwordError"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="Cpassword" class="control-label">Confirm password</label>
            <div class="">
                <input type="text" id="confirmPassword" name="cPassword" class="form-control" placeholder="Confirm your password" onfocusout="validateConfirmpassword()" />
                <span id="confirmPasswordError"></span>
            </div>
        </div>


        <div class="form-group">
            <div class=" ">
                <button type="submit" class="btn btn-primary my-3">Reset password</button>
            </div>
        </div>
    </div>
        </div>
</form>

}
