@model BasketballAcademy.Models.Credentials

@{
    Layout = "~/Views/Shared/HomePageLayout.cshtml";
}
<link href="~/Content/Signin.css" rel="stylesheet" />
<script src="~/Scripts/Validation.js"></script>
<link href="~/Content/ErrorStyle.css" rel="stylesheet" />
<script src="~/Scripts/PreventBack.js"></script>
<body>
    @using (Html.BeginForm("SignIn", "Credential", FormMethod.Post, new { @onsubmit = "return validateSignin();" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-md-6 col-sm-12">
            @*<img src="~/Content/image/trans2.png" height="700" width="700" />*@
        </div>
        <div class="center-form my-5 col-md-6 col-sm-12">
            <div class="form-container">
                <h2 class="text-center my-3" id="head">Sign in</h2>
                <p class="text-center text-danger">@ViewBag.Message </p>
                <div class="form-group">
                    <label for="username" class="control-label">Username</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Enter your username" onfocusout="validateusername()" />
                    <span id="usernameError"></span>
                </div>

                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password" onfocusout="validatePassword()" />
                    <span id="passwordError"></span>
                </div>

                <input type="checkbox" /> Remember me
                <button type="submit" class="btn btn-primary mx-5 my-3"> Sign in </button>
                <p class="text-center">
                    Forgot password?  <a href="@Url.Action("ForgotPassword", "Credential")">Click here</a>
                </p>
                <p class="text-center">
                    Not a member?  <a href="@Url.Action("AddUser", "User")">Sign up</a>
                </p>
            </div>
        </div>
    }
</body>