@model IEnumerable<BasketballAcademy.Models.Admission>

@{
    ViewBag.Title = "PlayerList";
    Layout = "~/Views/Shared/CoachLayoutPage.cshtml";
}
<script src="~/Scripts/PreventBack.js"></script>
<style>
    #head{
        color:purple;
    }
    </style>

<div class="my-3 text-center display-6" id="head">
    My players
</div>
<div class="row">
   
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card mb-3" style="max-width: 400px;">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.FullName)</h5>
                    <p class="card-text">
                        <strong>Age:</strong> @Html.DisplayFor(modelItem => item.Age)<br>
                        <strong>Gender:</strong> @Html.DisplayFor(modelItem => item.Gender)
                    </p>
                    @if (item.photo != null)
                    {
                        <a href="data:image;base64,@Convert.ToBase64String(item.photo)" target="_blank">
                            <img src="data:image;base64,@Convert.ToBase64String(item.photo)" alt="Picture" class="card-img-top" height="150px" width="150px" />
                        </a>
                    }
                    else
                    {
                        <span class="d-block text-center">No image available</span>
                    }
                </div>
            </div>
        </div>
    }
</div>
